vrome.crx
vrome.zip
*.css
*.js
*.map
.rbenv-version
.sass-cache
Gemfile.lock
/src/README.html
/src/manifest.json
/system/ruby/pkg
/src/files/features.html
/src/files/changelog.html
/src/files/thanks.html
/nbproject/
node_modules/
tags
