vrome.crx
vrome.zip
*.css
*.js
*.map
.rbenv-version
.sass-cache
Gemfile.lock
/src/README.html
/src/manifest.json
/system/ruby/pkg
/src/background/html/features.html
/src/background/html/changelog.html
/src/background/html/thanks.html
/nbproject/
node_modules/
.tags
utils/version.txt
