/* Cmd Box */
#_vrome_cmd_box {
  position:fixed !important;
  background: #A6CEEC repeat-x !important;
  bottom: 1px !important;
  right: 1px !important;
  padding: 4px 10px !important;
  border: #3f86bb 1px solid !important;
  vertical-align: middle !important;
  -webkit-border-top-left-radius: 4px !important;
  -webkit-box-shadow:-1px -1px 4px #888 !important;
  z-index: 2147483646 !important;
  opacity: 0.85 !important;
  width: auto !important;
}

#_vrome_cmd_box input{
  background: #eff8ff !important;
  -webkit-border-radius: 2px !important;
  padding:4px 0 !important;
  height:22px !important;
  width:200px !important;
  border:none !important;
  opacity: 0.85 !important;
  margin-left:6px !important;
}

#_vrome_cmd_box span{
  color: #100E35 !important;
  font-weight:700 !important;
  text-shadow: 1px 1px 1px #fff !important;
}

/* Hint Mode */
#__vim_hint_highlight {
}

#__vim_hint_highlight_span {
  position: absolute !important;
  font-size: 12px !important;
  color: #fff !important;
  font-weight: bold !important;
  padding: 0px 1px !important;
  z-index: 2147483646 !important;
}

.__vim_hint_highlight_span {
  background-color: black !important;
  position: absolute !important;
  font-size: 14px !important;
  border:1px dotted #E3BE23;
  color: white !important;
  border-radius: 4px;
  font-weight: bold !important;
  padding: 0px 1px !important;
  z-index: 2147483646 !important;
  line-height: 100%;
  width: auto;
  text-transform:uppercase;
  display: block;
  font-family:"Helvetica Neue", "Helvetica", "Arial", "Sans";
  top: -1px;
  left: -1px;
}

/* Search Mode */
.__vrome_search_highlight {
  display:inline !important;
  background-color:yellow !important;
  color:black !important;
  font-size:inherit !important;
  padding:0 !important;
}

#__vrome_search_highlight_current {
  background-color: #ff9632 !important;
}

a[vrome_highlight=hint_elem] {
  background-color: #F8F893 !important;
  color: #000 !important;
  z-index: 2147483646 !important;
}

a[vrome_highlight=hint_active] {
  background-color: #63CC63 !important;
  color: #000 !important;
  z-index     : 2147483646 !important;
}

/* Dialog */
#__vrome_dialog {
  position: fixed !important;
  background-color: #E2F0FB !important;
  z-index: 2147483646 !important;
  border: 1px solid #3f86bb !important;
  font-size: 12px !important;
  text-align:left !important;
  color: black !important;
  padding:10px !important;
  border-radius: 4px !important;
  font-family: Lucida Grande, Arial, Sans !important;
  width:750px !important;
  max-height: 90% !important;
  opacity: 0.9 !important;
  bottom: 0 !important;
  right: 0 !important;
  overflow: auto !important;
  border-bottom: 0px !important;
}

#__vrome_dialog_notice {
  position: fixed !important;
  background-color: #E2F0FB !important;
  z-index: 2147483646 !important;
  border: 1px solid #3f86bb !important;
  border-top: 0px !important;
  font-size: 12px !important;
  font-weight:700 !important;
  text-align:left !important;
  color: black !important;
  padding:3px 3px !important;
  border-radius: 4px !important;
  font-family: Lucida Grande, Arial, Sans !important;
  opacity: 0.9 !important;
  overflow: hidden !important;
}

#__vrome_dialog a {
  color: black !important;
  text-decoration:none !important;
  font-family: Lucida Grande, Arial, Sans !important;
  font-size:inherit !important;
  font-weight:normal !important;
}

#__vrome_searchResults .__vrome_selected {
  background-color: #8ABEE6 !important;
  border-radius: 4px !important;
  opacity: 0.85 !important;
}

#__vrome_searchResults div {
  padding:5px !important;
  opacity: 0.9 !important;
  border-bottom: 1px solid #b3b3b3;
}

#__vrome_searchResults div strong {
  color: black !important;
  font-weight:bold !important;
}

.__vrome_selected_quick_index {
  color:red !important;
  font-weight:700 !important;
  margin-left: -1em !important;
}

/* ------------ */
/* ------------ */

#vromeHelpOverlay {
  background-color: black !important;
  filter:alpha(opacity=75);
  -moz-opacity: 0.75;
  opacity: 0.75;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 2147483640 !important;
}

/*help box and inner element*/
#vromeHelpBox {
  background-color: #252525 !important;
  position: absolute;
  margin-left: 10px;
  margin-right: 10px;
  top: 10px;
  left: 0px;
  border: #3f86bb 3px solid !important;
  z-index: 2147483640 !important;
}

#vromeHelpBox table {
  margin-left: 15px;
  margin-top: 0px;
  background-color: #252525 !important;
  border: none;
  border-spacing: 0px;
  height: 50%;
  width: 95%;
}


#vromeHelpBox td {
  background-color: #252525 !important;
  border: none;
  font-family: Calibri, Arial, Verdana, sans-serif !important;
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: text-top;
  text-align: left;
  font-variant: normal;
  font-style: normal;
  line-height: normal;
}

/*category*/
.help_categoryTitle {
  width: 5%;
}

.help_categoryTitle h2 {
  color: #bfb;
  font-weight: bold !important;
  font-size: 18px;
  width: 5%;
}

/*display O S C*/
.help_hasOptions{
  color: cyan;
  font-size: 10px;
  font-family: cursive;
  width: .1%;
  text-align: right !important;
}

.help_server {
  color: red;
  font-size: 10px;
  font-family: cursive;
  width: .1%;
  text-align: right !important;
}

.help_count {
  color: hotpink;
  font-size: 10px;
  font-family: cursive;
  width: .1%;
  text-align: right !important;
}


/*keys*/
.help_keyShortcut {
  color: yellow;
  font-weight: bold;
  font-size: 12px;
  width: 2%;
  text-align: center !important;
}

/*keys*/
.help_keyShortcutNone {
  color: red;
  font-weight: bold;
  font-size: 12px;
  width: 2%;
  text-align: center !important;
}

/*command title + description*/
.help_title{
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.help_desc{
  color: #E3BE23;
  font-size: 11px;
}

/*options table*/

/*options string */
.help_optsLabel{
  font-size: 8px;
  font-family: cursive;
  color: cyan;
}

/*option table headers*/
.help_optsTable {
  width: 100%;
}

.help_optHeader{
  font-weight: bold;
  font-size: 9px;
  color: seashell;
  text-align: center !important;
}

/*option name*/
.help_optName{
  color: cyan;
  font-weight: bold;
  font-size: 14px;
  text-align: center !important;
}

/*option default*/
.help_optDefault {
  font-family: sans-serif;
  font-size: 12px;
  color: #cf867e;
  text-align: center !important;
  width: 25%;
}

.help_optDefault a {
  color: #cf867e;
  text-decoration: none;
}

.help_optDefault a:visited {
  color: #cf867e;
  text-decoration: none;
}

.help_optDefault a:link {
  color: #cf867e;
  text-decoration: none;
}

body {
  font-size: 10pt;
}

/*option value*/
.help_optValue {
  font-family: sans-serif;
  font-size: 12px;
  color: #bfb;
  font-weight: bold;
  text-align: center !important;
  width: 25%;
}

/*option value*/
.help_optValue a:visited {
  color: #bfb;
  text-decoration: none;
}

.help_optValue a:link {
  color: #bfb;
  text-decoration: none;
}

/*option value*/
.help_optValue a {
  color: #bfb;
  text-decoration: none;
}

/*option description*/
.help_optDesc{
  font-family: sans-serif;
  font-size: 14px;
  color: white;
  width: 100%;
  text-align: center !important;
}

.help_defaultColor {
  color: seashell;
  font-size: 11px;
  font-weight: bold;
  width: 5%;
}
.help_hidden {
  display: none;
}