/* Cmd Box */
#_vrome_cmd_box {
  position:fixed !important;
  background: #A6CEEC repeat-x !important;
  bottom: 1px !important;
  right: 1px !important;
  padding: 4px 10px !important;
  border: #3f86bb 1px solid !important;
  vertical-align: middle !important;
  -webkit-border-top-left-radius: 4px !important;
  -webkit-box-shadow:-1px -1px 4px #888 !important;
  z-index: 2147483647 !important;
  opacity: 0.85 !important;
  width: auto !important;
}

#_vrome_cmd_box input{
  background: #eff8ff !important;
  -webkit-border-radius: 2px !important;
  padding:4px 0 !important;
  height:22px !important;
  width:200px !important;
  border:none !important;
  opacity: 0.85 !important;
  margin-left:6px !important;
}

#_vrome_cmd_box span{
  color: #100E35 !important;
  font-weight:700 !important;
  text-shadow: 1px 1px 1px #fff !important;
}

/* Hint Mode */
#__vim_hint_highlight {
}

#__vim_hint_highlight_span {
  position: absolute !important;
  font-size: 12px !important;
  color: #fff !important;
  font-weight: bold !important;
  padding: 0px 1px !important;
  z-index: 2147483646 !important;
}

.__vim_hint_highlight_span {
  background-color: black !important;
  position: absolute !important;
  font-size: 14px !important;
  border:1px dotted #E3BE23;
  color: white !important;
  border-radius: 4px;
  font-weight: bold !important;
  padding: 0px 1px !important;
  z-index: 2147483646 !important;
  line-height: 100%;
  width: auto;
  text-transform:uppercase;
  display: block;
  font-family:"Helvetica Neue", "Helvetica", "Arial", "Sans";
  top: -1px;
  left: -1px;
}

/* Search Mode */
.__vrome_search_highlight {
  display:inline !important;
  background-color:yellow !important;
  color:black !important;
  font-size:inherit !important;
  padding:0 !important;
}

#__vrome_search_highlight_current {
  background-color: #ff9632 !important;
}

a[vrome_highlight=hint_elem] {
  background-color: #F8F893 !important;
  color: #000 !important;
  z-index: 2147483646 !important;
}

a[vrome_highlight=hint_active] {
  background-color: #63CC63 !important;
  color: #000 !important;
  z-index     : 2147483646 !important;
}

/* Dialog */
#__vrome_dialog {
  position: fixed !important;
  background-color: #E2F0FB !important;
  z-index: 2147483646 !important;
  border: 1px solid #3f86bb !important;
  font-size: 12px !important;
  text-align:left !important;
  color: black !important;
  padding:10px !important;
  border-radius: 4px !important;
  font-family: Lucida Grande, Arial, Sans !important;
  width:750px !important;
  max-height: 90% !important;
  opacity: 0.9 !important;
  bottom: 0 !important;
  right: 0 !important;
  overflow: auto !important;
  border-bottom: 0px !important;
}

#__vrome_dialog_notice {
  position: fixed !important;
  background-color: #E2F0FB !important;
  z-index: 2147483647 !important;
  border: 1px solid #3f86bb !important;
  border-top: 0px !important;
  font-size: 12px !important;
  font-weight:700 !important;
  text-align:left !important;
  color: black !important;
  padding:3px 3px !important;
  border-radius: 4px !important;
  font-family: Lucida Grande, Arial, Sans !important;
  opacity: 0.9 !important;
  overflow: hidden !important;
}

#__vrome_dialog a {
  color: black !important;
  text-decoration:none !important;
  font-family: Lucida Grande, Arial, Sans !important;
  font-size:inherit !important;
  font-weight:normal !important;
}

#__vrome_searchResults .__vrome_selected {
  background-color: #8ABEE6 !important;
  border-radius: 4px !important;
  opacity: 0.85 !important;
}

#__vrome_searchResults div {
  padding:5px !important;
  opacity: 0.9 !important;
  border-bottom: 1px solid #b3b3b3;
}

#__vrome_searchResults div strong {
  color: black !important;
  font-weight:bold !important;
}

.__vrome_selected_quick_index {
  color:red !important;
  font-weight:700 !important;
  margin-left: -1em !important;
}


/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
*{padding: 0; margin: 0;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
  font: 12px Arial, Helvetica, sans-serif;
  color: #333333;
}

#TB_secondLine {
  font: 10px Arial, Helvetica, sans-serif;
  color:#666666;
}

#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
  position: absolute;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.TB_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.TB_overlayBG {
  background-color:#000;
  filter:alpha(opacity=75);
  -moz-opacity: 0.75;
  opacity: 0.75;
}

* html #TB_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
  position: absolute;
  z-index: 102;
  color:#000000;
  display:none;
  border: 4px solid #525252;
  text-align:left;
  top:50%;
  left:50%;
}


#TB_window img#TB_Image {
  display:block;
  margin: 15px 0 0 15px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
}

#TB_caption{
  height:25px;
  padding:7px 30px 10px 25px;
  float:left;
}

#TB_closeWindow{
  height:25px;
  padding:11px 25px 10px 0;
  float:right;
}

#TB_closeAjaxWindow{
  padding:7px 10px 5px 0;
  margin-bottom:1px;
  text-align:right;
  float:right;
}

#TB_ajaxWindowTitle{
  float:left;
  padding:7px 0 5px 10px;
  margin-bottom:1px;
}

#TB_title{
  background-color:#e8e8e8;
  height:27px;
}

#TB_ajaxContent{
  clear:both;
  padding:2px 15px 15px 15px;
  text-align:left;
  line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
  padding:15px;
}

#TB_ajaxContent p{
  padding:5px 0px 5px 0px;
}

#TB_load{
  position: fixed;
  display:none;
  margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

#TB_HideSelect{
  z-index:99;
  position:fixed;
  top: 0;
  left: 0;
  border:none;
  filter:alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  height:100%;
  width:100%;
}

#TB_iframeContent{
  clear:both;
  border:none;
  margin-bottom:-1px;
  margin-top:1px;
  _margin-bottom:1px;
}


/*help*/

#TB_window{
  background-color: #252525 !important;
  color: seashell;
}

.help_row{
  background-color: #252525 !important;
  color: seashell;
}

.help_categoryTitle {
  color: #3f86bb;
  color: #bfb;
}


.help_optsLabel{
  font-size: 9px;
  font-family: cursive;
  color: cyan;
}

.help_hasOptions{
  color: cyan;
  font-size: 10px;
  font-family: cursive;
}

.help_server {
  color: red;
  font-size: 10px;
  font-family: cursive;
}

.help_count {
  color: hotpink;
  font-size: 10px;
  font-family: cursive;
}

.help_keyShortcut {
  color: #E3BE23;
  color: yellow;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.help_title{
  color: #F0E7D5;
  color: #E3BE23;
  color: #E3BE23;
  color: #F8F893;
  color: white;
  font-size: 9px;
  font-weight: bold;
}


.help_desc{
  color: seashell;
  font-size: 14px;
}


.help_optName{
  color: cyan;
  font-weight: bold;
  font-size: 14px;
}

.help_optDesc{
  font-family: sans-serif;
  font-size: 14px;
  color: white;
}


.help_optValue{
  font-family: sans-serif;
  font-size: 12px;
  color: #bfb;
  font-weight: bold;
}

.help_optDefault{
  font-family: sans-serif;
  font-size: 12px;
  color: #cf867e;
  width: 30%;
}

.help_optHeader{
  font-weight: bold;
  font-size: 9px;
  color: lightpink;
}


.help_optTable{
}

.hidden {
  display: none;
}


#vromeHelpOverlay {
  background-color: black !important;
  filter:alpha(opacity=75);
  -moz-opacity: 0.75;
  opacity: 0.75;
  position: absolute;
  z-index: 2147483647 !important;
  top: -1000px;
  left: 0px;
  height:400%;
  width:100%;
}