#_vrome_cmd_box {
  position:fixed !important;
  background: #7DB9E4 url(chrome-extension://iiffmolbankaonfoniihhpbpclcenokk/asserts/cmd_box_bg.png) repeat-x;
  bottom:1px;
  right:1px;
  padding:4px 10px;
  border:#3f86bb 1px solid !important;
  vertical-align: middle;
  -webkit-border-top-left-radius: 4px;
  -webkit-box-shadow:-1px -1px 4px #888;
  z-index: 2147483647;
}

#_vrome_cmd_box input{
  background: #eff8ff !important;
  -webkit-border-radius: 2px;
  padding:4px 0;
  height:16px;
  width:200px;
  border:none;
  margin-left:6px;
}

#_vrome_cmd_box span{
  color:#1c294a;
  font-weight:700;
  text-shadow: 1px 1px 1px #fff;
}

#__vim_hint_highlight {
}

#__vim_hint_highlight_span {
  position: absolute !important;
  font-size: 10px !important;
  color: #fff !important;
  font-weight: bold !important;
  padding: 0px 1px !important;
  z-index: 2147483646 !important;
}

.__vrome_search_highlight {
  display:inline;
  background-color:yellow !important;
  color:black !important;
  font-size:inherit !important;
  padding:0 !important;
}

#__vrome_search_highlight_current {
  background-color: #ff9632 !important;
}

a[vrome_highlight=hint_elem] {
	background-color: yellow !important;
  color: #000 !important;
  z-index     : 2147483646;
}

a[vrome_highlight=hint_active] {
	background-color: #8f0 !important;
  color: #000 !important;
  z-index     : 2147483646;
}
