body {
  width : 800px;
  margin : 50px auto;
  background: #eee;
}

#heading {
  text-align: center;
}

.header {
  margin: 20px auto 0;
}

.disable_site {
  width : 250px;
  margin: 10px 10px 0 0;
}

.hotkeys input[type=text] {
  width: 180px;
}
.hotkeys select {
  width: 250px;
}
