#__vrome_cmd_box{
 position    : fixed;
 bottom      : 0;
 right       : 0;
 width       : 350px;
 background  : #ff0;
 text-align  : left;
 font-size   : 10px;
 color       : green;
 font-weight : bold;
 padding     : 2px 0 0 10px;
 border      : thin solid #f00;
 z-index     : 100000;
}

#__vrome_cmd_input_box{
}

#__vim_hint_highlight {
}

#__vim_hint_highlight_span {
  position: absolute;
  font-size: 13px;
  color: white;
  font-weight: bold;
  padding: 0px 1px;
  z-index: 100000;
}

.__vrome_search_highlight {
  display:inline;
  background-color:yellow !important;
  color:black !important;
  font-size:inherit !important;
  padding:0 !important;
}

#__vrome_search_highlight_current {
  background-color:cyan !important;
}

a[vrome_highlight=hint_elem] {
	background-color: yellow;
}

a[vrome_highlight=hint_active] {
	background-color: lime
}
